<!DOCTYPE html>
<footer>
	<div class="container">
    
		<div class="row">

			<div class="col-md-12 col-sm-12">
            
                <ul class="social-icon"> 
                    <li><a href="#" class="fa fa-facebook wow fadeInUp" data-wow-delay="0.2s"></a></li>
                </ul>
				<p class="wow fadeInUp" data-wow-delay="1s"> Copyright &copy; 2017 Perez Contracting | <a href="http://luisconstante.com" title="Awesome Web Development" ' target="_blank">Webmaster</a></p>

			</div>
			
		</div>
        
	</div>
</footer>