<!DOCTYPE html>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container"> 

      <div class="navbar-header">
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> 
          <span class="icon icon-bar"></span> 
          <span class="icon icon-bar"></span> 
          <span class="icon icon-bar"></span> 
        </button> 
        <a href="/" class="navbar-brand smoothScroll"><span class="fa fa-home"></span> Home</a> 
      </div> 
        <div class="collapse navbar-collapse"> 
          <ul class="nav navbar-nav navbar-right"> 
            <li><a href="/about" class="smoothScroll"><span>About</span></a></li> 
            <li><a href="/gallery" class="smoothScroll"><span>Gallery</span></a></li> 
            <li><a href="/contact" class="smoothScroll"><span>Contact</span></a></li> 
            <li><a href="/blog/" class="smoothScroll"><span style="color: #0fff00;">Blog</span></a></li> 
          </ul> 
       </div> 
	</div> 
  </div>