<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="drywall, gutters, windows, doors, installations, oakland, hayward, san leandro, bay area, Demolition, paint, fence">
	<meta name="description" content="We can help you fulfill your contruction needs! Get to know us by calling us today! <%= number %>">

	<title>Drywall, Window, Fence, Gutters, and Door installations, Professional Painting, Demolition in oakland ca, san leandro, san francisco, hayward, castro valley, alameda</title>
<!--
Snapshot Template
http://www.templatemo.com/tm-493-snapshot

Zoom Slider
https://vegas.jaysalvat.com/

Caption Hover Effects
http://tympanus.net/codrops/2013/06/18/caption-hover-effects/
-->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/animate.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
		<link rel="stylesheet" href="css/component.css">
	
		<link rel="stylesheet" href="css/owl.theme.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/vegas.min.css">
	<link rel="stylesheet" href="css/style.css">

	<!-- Google web font  -->
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300' rel='stylesheet' type='text/css'>
	
</head>
<body id="top" data-spy="scroll" data-offset="50" data-target=".navbar-collapse">


<!-- Preloader section -->

<div class="preloader">
		 <div class="sk-spinner sk-spinner-pulse"></div>
</div>


<!-- Navigation section  -->

<%- include partials/navbar.ejs %>


<!-- Home section -->



<!-- About section -->

<section id="about">
	<div class="container">
		<div class="row">

			<div class="clearfix"></div>

			<div class="col-md-12 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
				<div class="section-title text-center">
					<h1>We guarantee a professional service</h1>
				</div>
			</div>

			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.2s">
				<div class="about-thumb">
					<span class="fa fa-wrench"></span>
					<h1>About Me</h1>
					<p>
					We value every task given to us and serve high quality services which is very important of any construction company!
					<br>
					<br>
					<a class="btn btn-success" href="/contact">Click Here to Contact Me</a></p>
				</div>
			</div>

			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.2s">
				<div class="about-thumb">
					<span class="fa fa-gavel"></span>
					<h1>Our Experience</h1>
					<p>
						Creating projects can be a hassle and sometimes even frustrating. Our approach guarantees professional and efficient results. If you want to make sure everything goes smoothly with your next project, we can help you achieve great results!
						<br>
						<br>
						<a class="btn btn-success" href="/contact">Click Here to Contact Me</a>
					</p>
				</div>
			</div>

			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.2s">
				<div class="about-thumb">
					<span class="fa fa-wrench"></span>
					<h1>Services</h1>
					<p>
						Our Services include Fence, Drywall, Window, Door, Gutter, and Chimney Installations, Basement Conversions, Roofing and Demolitions. Let us know if you're interested, we can help you get professional results!
						<br>
						<br>
						<a class="btn btn-success" href="/contact">Click Here to Contact Me</a>
					</p>
				</div>
			</div>

			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.2s">
				<div class="about-thumb">
					<span class="fa fa-gavel"></span>
					<h1 class="about-text">Fence Installation</h1>
					<p>
						<br>
						<br>
						<a class="btn btn-success" href="/contact">Click Here to Contact Me</a>
					</p>
				</div>
			</div>

			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.2s">
				<div class="about-thumb">
					<span class="fa fa-wrench"></span>
					<h1 class="about-text">Drywall</h1>
					<p>
						<br>
						<br>
						<a class="btn btn-success" href="/contact">Click Here to Contact Me</a>
					</p>
				</div>
			</div>

			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.2s">
				<div class="about-thumb">
					<span class="fa fa-gavel"></span>
					<h1 class="about-text">Window Installation</h1>
					<p>
						<br>
						<br>
						<a class="btn btn-success" href="/contact">Click Here to Contact Me</a>
					</p>
				</div>
			</div>

			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.2s">
				<div class="about-thumb">
					<span class="fa fa-wrench"></span>
					<h1 class="about-text">Door Installation</h1>
					<p>
						<br>
						<br>
						<a class="btn btn-success" href="/contact">Click Here to Contact Me</a>
					</p>
				</div>
			</div>

			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.2s">
				<div class="about-thumb">
					<span class="fa fa-gavel"></span>
					<h1 class="about-text">Gutter Installation</h1>
					<p>
						<br>
						<br>
						<a class="btn btn-success" href="/contact">Click Here to Contact Me</a>
					</p>
				</div>
			</div>

			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.2s">
				<div class="about-thumb">
					<span class="fa fa-wrench"></span>
					<h1 class="about-text">Chimney Repairs</h1>
					<p>
						<br>
						<br>
						<a class="btn btn-success" href="/contact">Click Here to Contact Me</a>
					</p>
				</div>
			</div>

			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.2s">
				<div class="about-thumb">
					<span class="fa fa-gavel"></span>
					<h1 class="about-text">Basement Conversions</h1>
					<p>
						<br>
						<br>
						<a class="btn btn-success" href="/contact">Click Here to Contact Me</a>
					</p>
				</div>
			</div>

			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.2s">
				<div class="about-thumb">
					<span class="fa fa-wrench"></span>
					<h1 class="about-text">Roofing</h1>
					<p>
						<br>
						<br>
						<a class="btn btn-success" href="/contact">Click Here to Contact Me</a>
					</p>
				</div>
			</div>

			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.2s">
				<div class="about-thumb">
					<span class="fa fa-gavel"></span>
					<h1 class="about-text">Demolitions</h1>
					<p>
						<br>
						<br>
						<a class="btn btn-success" href="/contact">Click Here to Contact Me</a>
					</p>
				</div>
			</div>

			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.2s">
				<div class="about-thumb">
					<span class="fa fa-wrench"></span>
					<h1 class="about-text">Paint<br>Exterior<br>Interior</h1>
					<p>
						<br>
						<br>
						<a class="btn btn-success" href="/contact">Click Here to Contact Me</a>
					</p>
				</div>
			</div>

			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.2s">
				<div class="about-thumb">
					<span class="fa fa-wrench"></span>
					<h1 class="about-text">Etc...</h1>
					<p>
						<br>
						<br>
						<a class="btn btn-success" href="/contact">Click Here to Contact Me</a>
					</p>
				</div>
			</div>

			<div class="clearfix"></div>

		</div>
	</div>
</section>


<!-- Footer section -->

<%- include partials/footer.ejs %>

<!-- Back top -->
<a href="#" class="go-top"><i class="fa fa-angle-up"></i></a>

<!-- Javascript  -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/vegas.min.js"></script>
<script src="js/modernizr.custom.js"></script>
<script src="js/toucheffects.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/custom.js"></script>

</body>
</html>
