<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="windows, drywall, paint, roofing, drywall, oakland, bay, area">
	<meta name="description" content="Repair, Remodel, or Build a new fence or take it all out we demolish large and small areas">

	<title>Window Installations, Roofing, Demolitions, Gutter repair and installation, All Kinds of Fence Set Ups</title>
  
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/animate.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
  	<link rel="stylesheet" href="css/component.css">
	
    <link rel="stylesheet" href="css/owl.theme.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/vegas.min.css">
	<link rel="stylesheet" href="css/style.css">

	<!-- Google web font  -->
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300' rel='stylesheet' type='text/css'>
	
</head>
<body id="top" data-spy="scroll" data-offset="50" data-target=".navbar-collapse">


<!-- Preloader section -->

<div class="preloader">
     <div class="sk-spinner sk-spinner-pulse"></div>
</div>


<!-- Navigation section  -->

<%- include partials/navbar.ejs %>


<!-- Home section -->

<section id="contact" ng-app="myApp" ng-controller="myCtrl">
  <!-- <div class="overlay"></div> -->
  <div class="container">
    <div class="row">

      <div class="col-md-offset-1 col-md-10 col-sm-12">

        <div class="col-lg-offset-1 col-lg-10 section-title wow fadeInUp" data-wow-delay="0.4s">
          <h1>Send a message</h1>
          <p>Ask For Dionicio Perez</p>
          <p><phone><%= number %></phone></p>
        </div>

        <form ng-submit="emailUs()" class="wow fadeInUp" data-wow-delay="0.8s">
          <div class="col-md-6 col-sm-6">
            <input type="text" class="form-control" id="name" ng-model="subject" placeholder="Subject">
          </div>
          <div class="col-md-12 col-sm-12">
            <label class="pull-left">Message</label>
            <textarea rows="5" class="form-control" ng-model="body" id="message"></textarea>
          </div>
          <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6">
            <input type="submit" class="form-control">
          </div>
        </form>

        <div class="success alert alert-success">Email Generated Successfully!</div>

      </div>

    </div>
  </div>
</section>


<!-- Gallery section -->




<!-- Footer section -->

<%- include partials/footer.ejs %>

<!-- Back top -->
<a href="#" class="go-top"><i class="fa fa-angle-up"></i></a>

<!-- Javascript  -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/vegas.min.js"></script>
<script src="js/modernizr.custom.js"></script>
<script src="js/toucheffects.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/custom.js"></script>

</body>
</html>
