<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body class="container" ng-app="blog-app" ng-controller="inputCtrl">
	<form method="post" action="http://104.236.186.74:3030/blog/new" class="form-group" enctype="multipart/form-data">
		<label>title</label>
		<input class="form-control" type="text" name="title"><br/>
		<label>body</label>
		<textarea cols="6" rows="4" class="form-control" type="text" name="body"></textarea>
		<label>Choose File</label>
		<input type="file" name="file0">
		<button type="submit" class="btn btn-default">Submit</button>
	</form>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
	<script src="/blogJS/input-app.js"></script>
	<script src="/blogJS/factoryJS/factory.js"></script>

</body>
</html>